{% extends "registration/base.html" %}
{% load i18n staticfiles thumbnail %}

{% block title %}{% trans 'Manage card' %}{% endblock %}

{% block sidemenu %}
    {% include 'includes/accounts_sidemenu.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-5">
            <h2>{% trans 'Manage Card' %}</h2>

Lorem Ipsum<br />
Lorem Ipsum<br />
Lorem Ipsum<br />
Lorem Ipsum<br />


<form action="." method="post">{% csrf_token %}

    {{form.management_choices}}

    <br />
    <input type="submit" value="Submit" />
</form>

        </div>
        <div class="col-md-6 col-lg-5">
        </div>
    </div>
{% endblock %}

{% block javascript %}<!--
    <script type="text/javascript">
        $(function() {
          $(".checkbox-container").addClass("checkbox");
        });
    </script>
    -->
{% endblock %}