{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Change member password' %}{% endblock %}

{% block sidemenu %}
    {% include 'communityadmin/sidemenu.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-10">
            <h2>{% trans 'Change member password' %} - {{ cc3_profile }}</h2>

            <div class="alert alert-info" role="alert">
                {% trans 'Clicking the button below will generate a new random password for this user and sends it to them in an email.' %}
            </div>

            <form method="post" action="" class="form">
                {% csrf_token %}
                <button class="btn btn-rounded btn-blue" type="submit">{% trans 'Send new password' %}</button>
            </form>
        </div>
    </div>
{% endblock %}