{% extends "base.html" %}

{# IMPORTANT. DO NOT REMOVE otherwise the admin base password template is used #}

{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-5">

            <h2>{% trans 'Password reset' %}</h2>

            <form method="post" action="." class="form">
                {% csrf_token %}

                {% if form.non_field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field.errors }}
                    </div>
                {% endif %}

                {% if form.email.errors %}
                    <div class="form-group has-error">
                {% else %}
                    <div class="form-group">
                {% endif %}
                    <label class="control-label" for="id_email">{% trans 'Email' %}</label>
                    {% for error in form.email.errors %}
                        <label class="control-label"> - {{ error }}</label>
                    {% endfor %}
                    <input type="text" id="id_email" placeholder="{{ form.email.help_text }}" name="email"{% if form.email.value %} value="{{ form.email.value }}"{% endif %} class="form-control">
                </div>

                <button class="btn btn-rounded btn-blue">{% trans 'Submit' %}</button>
            </form>
        </div>
    </div>
{% endblock %}