{% extends "base.html" %}
{% load i18n l10n staticfiles thumbnail map_tags cc3_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<section class="content">
                    <div class="row marketplace-buttons">
                        <div class="col-sm-6">
                            <a href="{% url 'profielen-targetted' %}">&lt; {% trans 'go to all profiles' %}</a>
                        </div>
                    </div>

					<div class="row marketplace-detail">
						<div class="col-sm-6">
							<div class="marketplace-detail-company">
                                {% if business.get_picture %}
                                    {% thumbnail business.picture "165x165" crop="center" as im %}
                                    <img class="img-responsive" src="{{ im.url }}" alt="{{ business.title }}"/>
                                {% else %}
                        {%   if business.cyclos_group|is_organisaties_group %} <img src="{% static "img/SD-icoon-winkelier-165.png" %}" class="img-responsive" alt="{{ business.title }}"/>
                        {% elif business.cyclos_group|is_instituties_group  %} <img src="{% static "img/SD-icoon-instelling-165.png" %}" class="img-responsive" alt="{{ business.title }}"/>
                        {% elif business.cyclos_group|is_goededoelen_group  %} <img src="{% static "img/SD-icoon-spaardoel-165.png" %}" class="img-responsive" alt="{{ business.title }}"/>
                        {% elif business.cyclos_group|is_consumenten_group  %} <img src="{% static "img/SD-icoon-spaarder-165.png" %}" class="img-responsive" alt="{{ business.title }}"/>
                        {% else                                                         %} <i class="icon icon-star"></i> {% endif %}

{#                                      <img class="img-responsive" src="{ % static "img/placeholder_165.png" % }" alt=""/> #}
                                {% endif %}

								<h2>{{ business.business_name }}</h2>
								<p>
									{{ business.address }} {{ business.userprofile.num_street }} {{ business.userprofile.extra_address }}<br/>
									{{ business.postal_code }}<br/>
                                    {{ business.city }}<br/>

                                    {% if business.company_website %}
                                        <a href="{{ business.company_website }}" target="_blank">{{ business.company_website }}</a>
                                    {% endif %}
								</p>
                                {% if business.user.businesscausesettings.reward_percentage %}
                                    <table>
                                        <tr>
                                            <td>
                                                {% blocktrans with business_name=business.business_name transaction_percentage=business.user.businesscausesettings.transaction_percentage|floatformat:-2 %}On every euro spent at {{ business_name }}, you'll receive {{ transaction_percentage }} points{% endblocktrans %}
                                            </td>
                                            <td>
                                                <div class="business-reward-percentage-icon">
                                                    {{ business.user.businesscausesettings.transaction_percentage|floatformat:-2 }}%
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                {% endif %}
							</div>

							<div class="clearfix"></div>

							<p>{{ business.company_description|safe }}</p>
						</div>
						<div class="col-sm-6">
							<div class="marketplace-detail-map">
                                <div class="profile_map">
                                    {% static_map business.userprofile.get_address_with_street_num business.city business.postal_code "Netherlands" %}
                                </div>
							</div>

                            {% if latest_ads %}
                                <h3>{% trans 'Ads published' %}</h3>

                                <div class="marketplace-list">
                                    <div class="row">
                                        {% for ad in latest_ads %}
                                            <div class="col-sm-6 marketplace-list-item marketplace-list-item-orange">
                                                <div class="marketplace-list-item-wrap">
                                                    <a href="{{ ad.get_absolute_url }}" style="text-decoration: none;">
                                                        <div class="marketplace-list-item-info marketplace-list-item-info-full-width">
                                                            <p>{{ ad.title }}</p>

                                                            <div class="marketplace-list-item-info-price">
                                                                <span><i class="icon-samendoen"></i></span> {% if ad.price %}{{ ad.price|floatformat:"0"|default:'N.O.T.K.' }}{% else %}N.O.T.K.{% endif %}
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="marketplace-list-item-border"></div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
					</div>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
