{% extends "admin/change_form.html" %}
{% load i18n admin_modify %}

{% block object-tools-items %}
    {% if original.profile.user.card_set.all %}
    <li>
        <a href="{% url 'admin:cards_card_changelist' %}?owner={{ original.profile.user.pk }}">{% trans 'Manage Cards' %}</a>
    </li>
    {% endif %}

    {{ block.super }}
{% endblock %}


{% block submit_buttons_bottom %}{% submit_row %}

<script language="javascript">(function($) {
    $('.deletelink-box').append(" <a href='{% url 'admin_individualprofile_close_account' original.pk %}' class='deletelink'>{% trans 'Close The Account' %}</a>");
})(django.jQuery);</script>

{% endblock %}