{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans '404 Not Found' %}{% endblock %}

{% block sidemenu %}
    {% include 'includes/accounts_sidemenu.html' %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-lg-10">
            <h2>{% trans '404 Not Found' %}</h2>

            <div class="alert alert-danger" role="alert">
                {% trans 'The page you requested was not found.' %}
            </div>
        </div>
    </div>
{% endblock %}